.wrapper-sliderfooter {
    padding-top: 130px;
    padding-bottom: 20px;
}

.sliderfooter {
    width: 100%;
}

.sliderfooter-titles {
    text-align: center;
}

.sliderfooter-title {
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-weight: 400;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.sliderfooter-text {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 48px;
}

.sliderfooter-imgs {
    display: flex;
    justify-content: center;
    width: 100%;
}
