.header-wrapper-menucart {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.218);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: default;
}
// cart-header
.header-cart {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 100%;
    background-color: #fff;
    z-index: 20;
}

.cart-header {
    width: 100%;
    height: 80px;
    background-color: var(--colorText);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header-text {
    margin: 0;
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
}

.cart-header-icon {
    background-color: transparent;
    color: #fff;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

// ship

.cart-header-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #ecebea;
}

.cart-header-ship-icon {
    width: 44px;
    height: 20px;
}

.cart-header-ship-text {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--colorText);
    text-transform: uppercase;
}

// cart-product-body

.cart-body {
    width: 100%;
    height: 60vh;
    padding: 20px 0;
    overflow-y: auto;
    row-gap: 40px;
    border-bottom: 1px solid #d0d1d3;
}

.cart-body-product {
    width: 100%;
    display: flex;
    padding: 10px 30px;
    column-gap: 16px;
    position: relative;
}

.cart-body-product-image {
    min-width: 24%;
    max-width: 24%;
    min-height: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cart-body-product-close {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.cart-body-product-close-icon {
    width: 20px;
    height: 20px;
}

.cart-body-product-items {
    width: 100%;
}

.cart-body-product-text-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-body-product-text-name-product {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--colorText);
    text-transform: uppercase;
    margin: 0;
}

.cart-body-product-price {
    font-size: 1.6rem;
    font-weight: 700;
    color: #ff5e57;
    margin: 0;
}

.cart-body-product-text-quatity {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    align-items: center;
}

.cart-body-product-text {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--colorText);
    text-transform: uppercase;
    margin: 0;
}

.cart-body-product-quatity {
    display: flex;
    border-left: 1px solid #d6d6d4;
    padding: 5px 0 0 5px;
}

.cart-icons {
    background-color: transparent;
    border: none;
    padding: 1px 6px;
    cursor: pointer;
}

.cart-icon {
    color: #77797d;
}

.cart-body-quatity {
    padding: 0 10px;
    margin: 0;
}

// cart-footer

.cart-footer {
    padding: 24px 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cart-footer-total-text-price {
    display: flex;
    justify-content: space-between;
}

.cart-footer-total-text {
    font-size: 1.6rem;
    color: var(--colorText);
    font-weight: 400;
}

.cart-footer-total-price {
    font-size: 1.6rem;
    font-weight: 700;
    color: #ff5e57;
}

.cart-footer-total-paynow {
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #53c66e;
    color: #fff;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 10px;

    &:hover {
        color: #fff;
    }
}

.cart-footer-total-paynow-text {
    text-transform: uppercase;
}

.cart-footer-timeship-text-dmy {
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart-footer-timeship-dmy {
    color: #53c66e;
}
